<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <settings>
      <setting name="Media.ThumbnailCacheFolder" value="/App_Data/MediaThumbnailCache/" />
      <setting name="Media.AlwaysIncludeCdnServerUrl" value="true" />
      <setting name="CloudMedia.MediaLinkCdnServerUrl" value="http://devbj01oss.nttdatadm.com" />
    </settings>


    <pipelines>
      <!-- Custom Pipeline to Process Media Items -->
      <cloud.MediaProcessor argsType="Helixbase.Foundation.CloudStorage.Pipelines.MediaProcessor.MediaProcessorArgs">
        <processor type="Helixbase.Foundation.CloudStorage.Pipelines.MediaProcessor.GenerateThumbnail, Helixbase.Foundation.CloudStorage" />
        <processor type="Helixbase.Foundation.CloudStorage.Pipelines.MediaProcessor.CalculateFileHash, Helixbase.Foundation.CloudStorage" />
        <processor type="Helixbase.Foundation.CloudStorage.Pipelines.MediaProcessor.UploadToCdn, Helixbase.Foundation.CloudStorage" />
      </cloud.MediaProcessor>

      <getMediaStream>
        <processor patch:before="*[1]" type="Helixbase.Foundation.CloudStorage.Pipelines.GetMediaStream.FileBasedThumbnailProcessor, Helixbase.Foundation.CloudStorage" />
      </getMediaStream>
    </pipelines>


    <processors>
      <uiUpload>
        <processor patch:before="*[1]" type="Helixbase.Foundation.CloudStorage.Pipelines.uiUpload.EnsureFileBasedMedia, Helixbase.Foundation.CloudStorage" mode="on">
          <config hint="list">
            <location>/sitecore/media library/Files</location>
            <!-- *** Add as many media library locations as required to force those folders to upload to cloud storage ***
            <location>/sitecore/media library/CloudMedia</location> -->
          </config>
        </processor>
        <processor type="Helixbase.Foundation.CloudStorage.Pipelines.uiUpload.ProcessMedia, Helixbase.Foundation.CloudStorage" mode="on" patch:after="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" />
      </uiUpload>

      <attachFile>
        <processor type="Helixbase.Foundation.CloudStorage.Pipelines.AttachFile.DeletePreviousMedia, Helixbase.Foundation.CloudStorage" mode="on" patch:before="*[@type='Sitecore.Pipelines.Attach.UpdatePath,Sitecore.Kernel']" />
        <processor type="Helixbase.Foundation.CloudStorage.Pipelines.AttachFile.ProcessMedia, Helixbase.Foundation.CloudStorage" mode="on" />
      </attachFile>
    </processors>


    <events>
      <event name="item:deleting">
        <handler type="Helixbase.Foundation.CloudStorage.Events.MediaItemDeleting, Helixbase.Foundation.CloudStorage" method="OnItemDeleting"/>
      </event>
    </events>


    <mediaLibrary>
      <mediaProvider>
        <patch:attribute name="type">Helixbase.Foundation.CloudStorage.Media.MediaProvider, Helixbase.Foundation.CloudStorage</patch:attribute>
      </mediaProvider>
    </mediaLibrary>

  </sitecore>
</configuration>
