<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Helixbase.Foundation.XConnect.DI.RegisterContainer, Helixbase.Foundation.XConnect" />
    </services>

    <log4net>
      <appender name="XConnectLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Integration.log.{date}.txt"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
        </layout>
      </appender>
      <logger name="Sitecore.Diagnostics.XConnect" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="XConnectLogFileAppender"/>
   
      </logger>
    </log4net>
  </sitecore>
</configuration>