<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <cloudMediaStorage>
      <storageProvider type="Helixbase.Feature.AliStorage.AliStorageProvider, Helixbase.Feature.AliStorage" resolve="true">
   
      </storageProvider>
    </cloudMediaStorage>
    <settings>
      <setting name="AliStorage.bucketName" value="" />
      <setting name="AliStorage.accessKeyId" value="" />
      <setting name="AliStorage.accessKeySecret" value="" />
      <setting name="AliStorage.endpoint" value="" />
      
    </settings>
  </sitecore>
</configuration>