<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <publishItem>
        <processor patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.UpdateStatistics, Sitecore.Kernel']"
                      type="Helixbase.Feature.Akamai.Pipelines.HTTPRequestBegin.AkamaiPublish,Helixbase.Feature.Akamai" resolve="true" />
      </publishItem>
    </pipelines>
    <settings>
      <setting name="Akamai.AccessToken" value="akab-r5x4gkixslpf7nnn-x5wz3wotnxebrxfk" />
      <setting name="Akamai.ClientToken" value="akab-mib2zewvin62oypj-s6rozragpwnf36sx" />
      <setting name="Akamai.Secret" value="cVt8L9wNrKUqZ94WqhPOB3WH2vt0bZzhhsuMvBAPT5o=" />
      <setting name="Akamai.ApiUrl" value="https://akab-ojo4n3f2o6nh7zre-ybk4vjretpeljt5a.purge.akamaiapis.net" />
      <setting name="Akamai.Hostname" value="testsubaru.subaru.jp" />
      <setting name="Akamai.NetWork" value="staging" />
      <setting name="Akamai.Proxy" value="http://172.31.15.30:3128/" />
    </settings>
  </sitecore>
</configuration>